.navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
  padding-top: 8px;
}

.navigationItem a {
  text-decoration: none;
  color: #191919;
}
.navigationItem a:hover {
  color: #000;
}

@media (max-width: 576px) {
  .navigation {
    height: auto;
    margin-bottom: 8px;
  }
}
